# California Population Estimates

In [1]:
import pandas as pd

In [2]:
ca_population = pd.read_csv("./data/capopulation.csv",skipinitialspace = True)

In [3]:
ca_population

,GEO_ID,NAME,DATE_CODE,POP
0,id,Geographic Area Name,Estimate Date,Population
1,0400000US06,California,4/1/2010 Census population,37253956
2,0400000US06,California,4/1/2010 population estimates base,37254519
3,0400000US06,California,7/1/2010 population estimate,37319502
4,0400000US06,California,7/1/2011 population estimate,37638369
5,0400000US06,California,7/1/2012 population estimate,37948800
6,0400000US06,California,7/1/2013 population estimate,38260787
7,0400000US06,California,7/1/2014 population estimate,38596972
8,0400000US06,California,7/1/2015 population estimate,38918045
9,0400000US06,California,7/1/2016 population estimate,39167117
10,0400000US06,California,7/1/2017 population estimate,39358497
11,0400000US06,California,7/1/2018 population estimate,39461588
12,0400000US06,California,7/1/2019 population estimate,39512223

In [4]:
ca_population= ca_population.drop(columns=['GEO_ID', 'NAME'])

In [5]:
ca_population= ca_population.drop([0])

In [6]:
ca_population["DATE_CODE"] = ca_population["DATE_CODE"].str.replace("population estimates base", "")
ca_population["DATE_CODE"] = ca_population["DATE_CODE"].str.replace("population estimate", "")
ca_population["DATE_CODE"] = ca_population["DATE_CODE"].str.replace("Census population", "")
ca_population["DATE_CODE"] = ca_population["DATE_CODE"].str.replace("7/1/", "")
ca_population["DATE_CODE"] = ca_population["DATE_CODE"].str.replace("4/1/","")

In [7]:
ca_population["DATE_CODE"]

1     2010
2     2010
3     2010
4     2011
5     2012
6     2013
7     2014
8     2015
9     2016
10    2017
11    2018
12    2019
Name: DATE_CODE, dtype: object

In [8]:
ca_population['Year'] = ca_population['DATE_CODE']

In [9]:
ca_population["Year"]

1     2010
2     2010
3     2010
4     2011
5     2012
6     2013
7     2014
8     2015
9     2016
10    2017
11    2018
12    2019
Name: Year, dtype: object

In [10]:
ca_population

   DATE_CODE       POP   Year
1      2010   37253956  2010
2      2010   37254519  2010
3      2010   37319502  2010
4      2011   37638369  2011
5      2012   37948800  2012
6      2013   38260787  2013
7      2014   38596972  2014
8      2015   38918045  2015
9      2016   39167117  2016
10     2017   39358497  2017
11     2018   39461588  2018
12     2019   39512223  2019

In [11]:
ca_population['Year'].astype(int)

1     2010
2     2010
3     2010
4     2011
5     2012
6     2013
7     2014
8     2015
9     2016
10    2017
11    2018
12    2019
Name: Year, dtype: int64

In [12]:
ca_population = ca_population[   ca_population["Year"]> "2015"   ]

In [13]:
ca_population = ca_population.reset_index(drop=True)

In [14]:
ca_population

  DATE_CODE       POP   Year
0     2015   38918045  2015
1     2016   39167117  2016
2     2017   39358497  2017
3     2018   39461588  2018
4     2019   39512223  2019

In [15]:
ca_population["Population"]= ca_population["POP"]

In [16]:
ca_population

  DATE_CODE       POP   Year Population
0     2015   38918045  2015    38918045
1     2016   39167117  2016    39167117
2     2017   39358497  2017    39358497
3     2018   39461588  2018    39461588
4     2019   39512223  2019    39512223

In [17]:
ca_population= ca_population.drop(columns=["POP","DATE_CODE"])

In [18]:
ca_population["Population"] = ca_population["Population"].astype(int)

In [19]:
ca_population["Population"]

0    38918045
1    39167117
2    39358497
3    39461588
4    39512223
Name: Population, dtype: int64

In [20]:
all_opioid_death = pd.read_csv("./data/Pre-merging/Opioid_Deaths_by_County_2015-2020.csv",skipinitialspace = True)

In [21]:
california_death = all_opioid_death[   all_opioid_death["County"]== "California"  ]

In [22]:
california_death = california_death.reset_index(drop=True)

In [23]:
california_death= california_death.drop(columns=["County"])

In [24]:
california_death["Year"]

0    2015
1    2016
2    2017
3    2018
4    2019
5    2020
Name: Year, dtype: int64

In [25]:
california_2020 = pd.read_csv("./data/ca_population_2020.csv",skipinitialspace = True)

In [26]:
california_2020= california_2020[ california_2020["NAME"]== "California"]

In [27]:
california_2020= california_2020.drop(columns= ["GEO_ID","NAME","POP_BASE2020","POP_2021"])

In [28]:
california_2020= california_2020.reset_index(drop=True)

In [29]:
california_2020["Year"] = 2020
california_2020["Population"]= california_2020["POP_2020"]

In [30]:
california_2020= california_2020.drop(columns=["POP_2020"])
california_2020

   Year Population
0  2020   39499738

In [31]:
california_2020

   Year Population
0  2020   39499738

In [32]:
ca_population

    Year  Population
0  2015     38918045
1  2016     39167117
2  2017     39358497
3  2018     39461588
4  2019     39512223

In [33]:
california_2020

   Year Population
0  2020   39499738

In [35]:
ca_2015_2020_pop = pd.concat([ca_population, california_2020], ignore_index=True)

In [55]:
ca_2015_2020_pop["Year"] = ca_2015_2020_pop["Year"].astype(int)

In [51]:
california_death["Year"]

0    2015
1    2016
2    2017
3    2018
4    2019
5    2020
Name: Year, dtype: int64

In [58]:
ca_population_complete = ca_2015_2020_pop.merge(california_death, on='Year', how='inner')

In [62]:
ca_population_complete.to_csv('./data/Merged_CA_population_opioid_death')