In [2]:
# Following the kaggle outline for data analysis
# Link: https://www.kaggle.com/pmarcelino/comprehensive-data-exploration-with-python/notebook
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
sns.set(style="whitegrid")  # can set style depending on how you'd like it to look
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# Opening the Adult tobacco prevalance csv file. The issue with this data set is that we cannot look at it by county. 
df = pd.read_csv('data/adult-tobacco-prevalence.csv')
df.shape

(52, 6)

In [4]:
pd.options.display.max_columns = 100
df.head(52)

    YEAR                          DEMOGRAPHIC PERCENT    SE LOWER95 UPPER95
0   2016                                 Male    22.7   1.1    20.5    24.9
1   2016                               Female    10.5   0.9     8.8    12.1
2   2016  Non-Hispanic African American/Black    16.8   2.5      12    21.6
3   2016         Non-Hispanic American Indian    45.7  15.9    14.6    76.9
4   2016  Non-Hispanic Asian/Pacific Islander     8.5   1.3     5.9    11.1
5   2016                   Non-Hispanic Asian     8.7   1.4       6    11.4
6   2016        Non-Hispanic Pacific Islander       *     *       *       *
7   2016                   Non-Hispanic White    17.8     1    15.8    19.8
8   2016                             Hispanic    15.7   1.3    13.1    18.2
9   2016                                LGBTQ    27.7   5.1    17.8    37.7
10  2016                           Low Income    22.5   1.7    19.2    25.8
11  2016                    Rural Communities       *     *       *       *
12  2016                                Total    16.5   0.7    15.1    17.9
13  2017                                 Male    20.7   1.4    17.9    23.5
14  2017                               Female     8.7   0.7     7.4      10
15  2017  Non-Hispanic African American/Black    12.6   2.2     8.3    16.9
16  2017         Non-Hispanic American Indian    20.9     8     5.2    36.7
17  2017  Non-Hispanic Asian/Pacific Islander    13.3   2.9     7.7    18.9
18  2017                   Non-Hispanic Asian    13.2     3     7.4      19
19  2017        Non-Hispanic Pacific Islander       *     *       *       *
20  2017                   Non-Hispanic White    15.7   1.2    13.4      18
21  2017                             Hispanic    13.6   1.4    10.8    16.4
22  2017                                LGBTQ    23.6   3.8    16.1    31.2
23  2017                           Low Income    17.6   1.4    14.9    20.2
24  2017                    Rural Communities    25.6   5.9      14    37.2
25  2017                                Total    14.6   0.8    13.1    16.2
26  2018                                 Male    19.2   1.2    16.9    21.4
27  2018                               Female     9.3     1     7.4    11.2
28  2018  Non-Hispanic African American/Black    14.4   3.6     7.4    21.4
29  2018         Non-Hispanic American Indian    25.7   7.8    10.5      41
30  2018  Non-Hispanic Asian/Pacific Islander    12.3   2.6     7.3    17.4
31  2018                   Non-Hispanic Asian     9.9   1.9     6.1    13.8
32  2018        Non-Hispanic Pacific Islander       *     *       *       *
33  2018                   Non-Hispanic White    14.4     1    12.4    16.4
34  2018                             Hispanic    13.4   1.4    10.7    16.1
35  2018                                LGBTQ    22.9   5.4    12.4    33.4
36  2018                           Low Income    18.3   1.5    15.3    21.2
37  2018                    Rural Communities     8.7   2.8     3.2    14.2
38  2018                                Total    14.1   0.8    12.7    15.6
39  2019                                 Male    17.8   1.4      15    20.6
40  2019                               Female     8.5   0.7     7.2     9.9
41  2019  Non-Hispanic African American/Black    14.6   2.7     9.4    19.8
42  2019         Non-Hispanic American Indian    20.3   8.2     4.4    36.3
43  2019  Non-Hispanic Asian/Pacific Islander    11.2     4     3.2    19.1
44  2019                   Non-Hispanic Asian    11.4   4.2     3.1    19.7
45  2019        Non-Hispanic Pacific Islander       *     *       *       *
46  2019                   Non-Hispanic White    13.2     1    11.2    15.1
47  2019                             Hispanic    12.6   1.2    10.2    14.9
48  2019                                LGBTQ    13.9   2.9     8.1    19.6
49  2019                           Low Income    17.6   1.9    13.9    21.4
50  2019                    Rural Communities    24.2   5.7    13.1    35.4
51  2019                                Total    13.1   0.8    11.6    14.7

In [5]:
# Looking at the columns of the data
df.columns

Index(['YEAR', 'DEMOGRAPHIC', 'PERCENT', 'SE', 'LOWER95', 'UPPER95'], dtype='object')

In [6]:
# Checking the types to know how to convert accordingly 
df.dtypes

YEAR            int64
DEMOGRAPHIC    object
PERCENT        object
SE             object
LOWER95        object
UPPER95        object
dtype: object

In [7]:
df['PERCENT'].describe()

count     52
unique    38
top        *
freq       5
Name: PERCENT, dtype: object

In [8]:
df['DEMOGRAPHIC'].describe()

count                     52
unique                    13
top       Non-Hispanic Asian
freq                       4
Name: DEMOGRAPHIC, dtype: object

In [9]:
df["PERCENT"] = df["PERCENT"].fillna('Not available')

Now let's look at fentanyl deaths per county! Because some of my teammates had data going back to 2015, I decided to use data up until that year for this. I was able to find the data by county. One issue was that I had to download the csv files individually for each year, so I found a way to try and combine them all into one csv file. I will attempt to do this in the next few boxes.

In [10]:
# Opening the 2015 data just to compare to the combined fent_df

fent_df_15 = pd.read_csv('fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2015_01.10.2022.csv')
fent_df_15.shape

(64, 5)

In [11]:
fent_df_15.head()

,California Deaths by County -Total Population - 2015,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Fentanyl-Related Overdose : Age-Adjusted Rate...,NaN,NaN,NaN,NaN
1,County,Rates,95% LCL,95% UCL,Counts
2,Alameda,0.24,0.22,0.63,4
3,Alpine,0,NaN,879.4,0
4,Amador,0,NaN,19.07,0

In [12]:
# Checking the types 
fent_df_15.dtypes

California Deaths by County -Total Population - 2015     object
Unnamed: 1                                               object
Unnamed: 2                                               object
Unnamed: 3                                               object
Unnamed: 4                                               object
dtype: object

In [14]:
fent_df_15.isna().sum()

California Deaths by County -Total Population - 2015      0
Unnamed: 1                                                4
Unnamed: 2                                               32
Unnamed: 3                                                4
Unnamed: 4                                                3
dtype: int64

In [12]:
# Trying to combine them altogether. 
# Function to load a list of csv files 2015-2020
def load_dataset(name_path_dict):
    ''' Take in a dictionary with dataframe name and its CSV file paths and load into a dict of dataframes'''
    result_dict = {}
    for name, path in name_path_dict.items():
        result_dict[name] = pd.read_csv(path, skiprows=2)
    return result_dict

In [14]:
path_dict = {
    "data_2015":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2015_01.10.2022.csv",
    "data_2016":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2016_01.10.2022.csv",
    "data_2017":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2017_01.10.2022.csv",
    "data_2018":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2018_01.10.2022.csv",
    "data_2019":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2019_01.10.2022.csv",
    "data_2020":"fentanyl_data/CA_Fentanyl-Related Overdose _Death_by County_2020_01.10.2022.csv"}

# Load into dictionary of dataframe fentanyl_dfs
fentanyl_dfs = load_dataset(path_dict)

#Checking the data
fentanyl_dfs['data_2015']

,County,Rates,95% LCL,95% UCL,Counts
0,Alameda,0.24,0.22,0.63,4.0
1,Alpine,0.00,NaN,879.40,0.0
2,Amador,0.00,NaN,19.07,0.0
3,Butte,0.33,0.36,3.07,1.0
4,Calaveras,2.81,3.07,19.23,1.0
...,...,...,...,...,...
57,Ventura,0.60,0.32,1.45,5.0
58,Yolo,0.00,NaN,2.57,0.0
59,Yuba,0.00,NaN,7.37,0.0
60,Source: CDPH Center for Health Statistics and ...,NaN,NaN,NaN,NaN
61,Prepared by: California Department of Public H...,NaN,NaN,NaN,NaN

In [18]:
# Cleaning up the dataframes

for key,value in fentanyl_dfs.items():
    # removing 95% LCL and 95% UCL columns
    fentanyl_dfs[key] = fentanyl_dfs[key][["County","Rates","Counts"]]

    #remove last 2 lines
    fentanyl_dfs[key].drop(fentanyl_dfs[key].index[-2:], inplace = True)
    
    
# Adding the year into each dataframe
x = 2015
for key,value in fentanyl_dfs.items():
    fentanyl_dfs[key]["Year"] = x
    x += 1

In [22]:
# Checking the updates data table
fentanyl_dfs['data_2015']

             County  Rates  Counts  Year
0           Alameda   0.24     4.0  2015
1            Alpine   0.00     0.0  2015
2            Amador   0.00     0.0  2015
3             Butte   0.33     1.0  2015
4         Calaveras   2.81     1.0  2015
5        California   0.33   132.0  2015
6            Colusa   0.00     0.0  2015
7      Contra Costa   0.34     4.0  2015
8         Del Norte   0.00     0.0  2015
9         El Dorado   0.00     0.0  2015
10           Fresno   0.11     1.0  2015
11            Glenn   0.00     0.0  2015
12         Humboldt   2.49     3.0  2015
13         Imperial   0.00     0.0  2015
14             Inyo   0.00     0.0  2015
15             Kern   0.83     8.0  2015
16            Kings   0.00     0.0  2015
17             Lake   0.88     1.0  2015
18           Lassen   3.31     1.0  2015
19      Los Angeles   0.12    12.0  2015
20           Madera   0.00     0.0  2015
21            Marin   0.00     0.0  2015
22         Mariposa   0.00     0.0  2015
23        Mendocino   2.99     2.0  2015
24           Merced   0.91     2.0  2015
25            Modoc   0.00     0.0  2015
26             Mono   0.00     0.0  2015
27         Monterey   0.00     0.0  2015
28             Napa   0.00     0.0  2015
29           Nevada   0.41     1.0  2015
30           Orange   0.52    18.0  2015
31           Placer   0.00     0.0  2015
32           Plumas   7.71     1.0  2015
33        Riverside   0.22     5.0  2015
34       Sacramento   0.00     0.0  2015
35       San Benito   0.00     0.0  2015
36   San Bernardino   0.14     3.0  2015
37        San Diego   0.67    23.0  2015
38    San Francisco   0.94    11.0  2015
39      San Joaquin   0.14     1.0  2015
40  San Luis Obispo   0.93     2.0  2015
41        San Mateo   0.14     1.0  2015
42    Santa Barbara   0.60     3.0  2015
43      Santa Clara   0.34     7.0  2015
44       Santa Cruz   1.32     3.0  2015
45           Shasta   0.00     0.0  2015
46           Sierra   0.00     0.0  2015
47         Siskiyou   0.00     0.0  2015
48           Solano   0.40     2.0  2015
49           Sonoma   0.95     4.0  2015
50       Stanislaus   0.00     0.0  2015
51           Sutter   0.00     0.0  2015
52           Tehama   0.89     1.0  2015
53          Trinity   0.00     0.0  2015
54           Tulare   0.00     0.0  2015
55         Tuolumne   2.99     1.0  2015

In [23]:
fentanyl_dfs['data_2016']

             County  Rates  Counts  Year
0           Alameda   0.50     9.0  2016
1            Alpine   0.00     0.0  2016
2            Amador   3.97     1.0  2016
3             Butte   0.26     1.0  2016
4         Calaveras   4.07     2.0  2016
5        California   0.59   239.0  2016
6            Colusa   0.00     0.0  2016
7      Contra Costa   0.40     4.0  2016
8         Del Norte   3.34     1.0  2016
9         El Dorado   0.64     1.0  2016
10           Fresno   0.40     4.0  2016
11            Glenn   0.00     0.0  2016
12         Humboldt   0.69     1.0  2016
13         Imperial   0.00     0.0  2016
14             Inyo   7.68     1.0  2016
15             Kern   0.20     2.0  2016
16            Kings   0.00     0.0  2016
17             Lake   0.91     1.0  2016
18           Lassen   0.00     0.0  2016
19      Los Angeles   0.56    58.0  2016
20           Madera   0.00     0.0  2016
21            Marin   0.58     1.0  2016
22         Mariposa   0.00     0.0  2016
23        Mendocino   1.53     1.0  2016
24           Merced   1.24     3.0  2016
25            Modoc   0.00     0.0  2016
26             Mono   0.00     0.0  2016
27         Monterey   0.18     1.0  2016
28             Napa   0.00     0.0  2016
29           Nevada   1.37     1.0  2016
30           Orange   1.03    33.0  2016
31           Placer   0.58     2.0  2016
32           Plumas   0.00     0.0  2016
33        Riverside   0.44    10.0  2016
34       Sacramento   0.83    13.0  2016
35       San Benito   0.00     0.0  2016
36   San Bernardino   0.21     5.0  2016
37        San Diego   0.87    30.0  2016
38    San Francisco   1.53    16.0  2016
39      San Joaquin   0.64     5.0  2016
40  San Luis Obispo   0.00     0.0  2016
41        San Mateo   0.24     2.0  2016
42    Santa Barbara   0.38     2.0  2016
43      Santa Clara   0.48    10.0  2016
44       Santa Cruz   0.91     2.0  2016
45           Shasta   0.55     1.0  2016
46           Sierra   0.00     0.0  2016
47         Siskiyou   3.09     1.0  2016
48           Solano   0.00     0.0  2016
49           Sonoma   0.85     4.0  2016
50       Stanislaus   0.19     1.0  2016
51           Sutter   0.00     0.0  2016
52           Tehama   0.00     0.0  2016
53          Trinity   6.70     1.0  2016
54           Tulare   0.00     0.0  2016
55         Tuolumne   1.12     1.0  2016

In [24]:
# Concatenate all year into one dataframe
all_fentanyl_dfs = pd.concat(fentanyl_dfs)
all_fentanyl_dfs

                 County  Rates  Counts  Year
data_2015 0     Alameda   0.24     4.0  2015
          1      Alpine   0.00     0.0  2015
          2      Amador   0.00     0.0  2015
          3       Butte   0.33     1.0  2015
          4   Calaveras   2.81     1.0  2015
...                 ...    ...     ...   ...
data_2020 51     Sutter   3.83     4.0  2020
          52     Tehama   1.04     1.0  2020
          53    Trinity   0.00     0.0  2020
          54     Tulare   6.25    29.0  2020
          55   Tuolumne   2.64     1.0  2020

[336 rows x 4 columns]

In [25]:
# Save into a CSV file for next step (cleaning, visualization)
all_fentanyl_dfs.to_csv("fentanyl_data/Fentanyl_Deaths_by_County_2015-2020.csv", index=False)