## Heroin Related Overdose Death By County Data 2015- 2020

In [8]:
pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.5.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.3 MB)
Collecting pillow>=6.2.0
  Using cached Pillow-9.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.3 MB)
Requirement already satisfied: numpy>=1.17 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.28.5-py3-none-any.whl (890 kB)
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (20.9)
Collecting kiwisolver>=1.0.1
  Using cached kiwisolver-1.3.2-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.2 MB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.28.5 kiwisolver-1.3.2 matplotlib-3.5.1 pillow-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [49]:
pip install seaborn

Collecting seaborn
  Using cached seaborn-0.11.2-py3-none-any.whl (292 kB)
Collecting scipy>=1.0
  Using cached scipy-1.7.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (39.3 MB)
Requirement already satisfied: matplotlib>=2.2 in /opt/conda/lib/python3.8/site-packages (from seaborn) (3.5.1)
Requirement already satisfied: numpy>=1.15 in /opt/conda/lib/python3.8/site-packages (from seaborn) (1.20.3)
Requirement already satisfied: pandas>=0.23 in /opt/conda/lib/python3.8/site-packages (from seaborn) (1.2.5)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.28.5)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (9.0.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (20.9)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.15.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.7.3 seaborn-0.11.2
Note: you may need to restart the kernel to use updated packages.

In [10]:
# Load packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [11]:
# Function to load a list of csv files 2015-2020
def load_dataset(name_path_dict):
    ''' Take in a dictionary with dataframe name and its CSV file paths and load into a dict of dataframes'''
    result_dict = {}
    for name, path in name_path_dict.items():
        result_dict[name] = pd.read_csv(path, skiprows=2)
    return result_dict

In [12]:
path_dict = {
    "data_2015":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2015_01.10.2022.csv",
    "data_2016":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2016_01.10.2022.csv",
    "data_2017":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2017_01.10.2022.csv",
    "data_2018":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2018_01.10.2022.csv",
    "data_2019":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2019_01.09.2022.csv",
    "data_2020":"/home/jovyan/Capstone Project Stuff/Data/CA_Heroin-Related Overdose_Death_by County_2020_01.09.2022.csv"}

# Load into dictionary of dataframes dfs
dfs = load_dataset(path_dict)

In [13]:
# Check values in dfs
dfs["data_2015"]

,County,Rates,95% LCL,95% UCL,Counts
0,Alameda,0.66,0.51,1.18,11.0
1,Alpine,0.00,NaN,879.40,0.0
2,Amador,0.00,NaN,19.07,0.0
3,Butte,0.44,0.48,3.27,1.0
4,Calaveras,3.28,3.57,20.14,1.0
...,...,...,...,...,...
57,Ventura,3.00,1.95,4.48,26.0
58,Yolo,1.99,1.76,5.41,4.0
59,Yuba,1.07,1.17,8.83,1.0
60,Source: CDPH Center for Health Statistics and ...,NaN,NaN,NaN,NaN
61,Prepared by: California Department of Public H...,NaN,NaN,NaN,NaN

In [58]:
# Clean up the dataframes in dfs
# Delete last 2 rows and 95% LCL and 95% UCL column
for key, value in dfs.items():
    dfs[key] = dfs[key][["County","Rates","Counts"]]
    dfs[key].drop(dfs[key].index[-2:], inplace = True)

/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [56]:
dfs["data_2019"]

             County  Rates  Counts  Year
0           Alameda   1.43    25.0  2019
1            Alpine   0.00     0.0  2019
2            Amador   0.00     0.0  2019
3             Butte   1.85     4.0  2019
4         Calaveras   3.05     1.0  2019
5        California   2.35   965.0  2019
6            Colusa   0.00     0.0  2019
7      Contra Costa   2.19    26.0  2019
8         Del Norte   0.00     0.0  2019
9         El Dorado   1.70     3.0  2019
10           Fresno   0.43     4.0  2019
11            Glenn   3.31     1.0  2019
12         Humboldt   5.75     7.0  2019
13         Imperial   0.49     1.0  2019
14             Inyo   7.54     1.0  2019
15             Kern   3.93    36.0  2019
16            Kings   0.47     1.0  2019
17             Lake  10.59     8.0  2019
18           Lassen   7.15     2.0  2019
19      Los Angeles   2.17   232.0  2019
20           Madera   0.54     1.0  2019
21            Marin   3.67     8.0  2019
22         Mariposa   0.00     0.0  2019
23        Mendocino   8.64     8.0  2019
24           Merced   1.32     4.0  2019
25            Modoc   0.00     0.0  2019
26             Mono   0.00     0.0  2019
27         Monterey   0.00     0.0  2019
28             Napa   0.00     0.0  2019
29           Nevada   3.64     3.0  2019
30           Orange   2.34    76.0  2019
31           Placer   2.17     8.0  2019
32           Plumas   8.60     1.0  2019
33        Riverside   3.17    80.0  2019
34       Sacramento   1.90    32.0  2019
35       San Benito   1.18     1.0  2019
36   San Bernardino   1.77    39.0  2019
37        San Diego   3.27   113.0  2019
38    San Francisco   6.80    70.0  2019
39      San Joaquin   1.15     8.0  2019
40  San Luis Obispo   0.74     2.0  2019
41        San Mateo   0.87     7.0  2019
42    Santa Barbara   1.08     5.0  2019
43      Santa Clara   1.98    41.0  2019
44       Santa Cruz   5.46    14.0  2019
45           Shasta   3.43     6.0  2019
46           Sierra   0.00     0.0  2019
47         Siskiyou   2.69     1.0  2019
48           Solano   1.55     8.0  2019
49           Sonoma   4.17    19.0  2019
50       Stanislaus   1.24     7.0  2019
51           Sutter   0.79     1.0  2019
52           Tehama   0.00     0.0  2019
53          Trinity   0.00     0.0  2019
54           Tulare   0.00     0.0  2019
55         Tuolumne   0.78     1.0  2019
56          Unknown    NaN     2.0  2019
57          Ventura   5.01    42.0  2019
58             Yolo   1.78     4.0  2019
59             Yuba   1.05     1.0  2019

In [16]:
# Add Year column into each dataframe
x = 2015
for key,value in dfs.items():
    dfs[key]["Year"] = x
    x += 1

<ipython-input-16-6e8940c55300>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfs[key]["Year"] = x

In [17]:
# Concatenate all year into one dataframe
all_df = pd.concat(dfs)
all_df

                 County  Rates  Counts  Year
data_2015 0     Alameda   0.66    11.0  2015
          1      Alpine   0.00     0.0  2015
          2      Amador   0.00     0.0  2015
          3       Butte   0.44     1.0  2015
          4   Calaveras   3.28     1.0  2015
...                 ...    ...     ...   ...
data_2020 55   Tuolumne   0.00     0.0  2020
          56    Unknown    NaN    24.0  2020
          57    Ventura   4.04    33.0  2020
          58       Yolo   1.08     2.0  2020
          59       Yuba   3.29     3.0  2020

[360 rows x 4 columns]

In [18]:
type(all_df)
all_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 360 entries, ('data_2015', 0) to ('data_2020', 59)
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  360 non-null    object
 1   Rates   354 non-null    float64
 2   Counts  360 non-null    float64
 3   Year    360 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.7+ KB

In [19]:
# Save into a CSV file for next step (cleaning, visualization)
all_df.to_csv("Data/Heroin_Deaths_by_County_2015-2020.csv", index=False)

## Prescription Opioid related Overdose Data 2015 - 2020

In [21]:
path_dict = {
    "prescription_2015":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2015_01.10.2022.csv",
    "prescription_2016":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2016_01.10.2022.csv",
    "prescription_2017":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2017_01.10.2022.csv",
    "prescription_2018":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2018_01.10.2022.csv",
    "prescription_2019":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2019_01.09.2022.csv",
    "prescription_2020":"/home/jovyan/Capstone Project Stuff/Data/CA_Prescription Opioid-Related Overdose_Death_by County_2020_01.09.2022.csv"}

# Load into dictionary of dataframes dfs
prescription_dfs = load_dataset(path_dict)

In [22]:
# Check values
prescription_dfs["prescription_2015"]

,County,Rates,95% LCL,95% UCL,Counts
0,Alameda,2.73,2.02,3.64,50.0
1,Alpine,0.00,NaN,879.40,0.0
2,Amador,3.75,2.04,23.52,2.0
3,Butte,6.51,3.67,11.22,16.0
4,Calaveras,14.25,5.17,34.93,7.0
...,...,...,...,...,...
57,Ventura,2.88,1.95,4.21,29.0
58,Yolo,4.48,2.18,8.81,9.0
59,Yuba,5.07,3.62,15.18,3.0
60,Source: CDPH Center for Health Statistics and ...,NaN,NaN,NaN,NaN
61,Prepared by: California Department of Public H...,NaN,NaN,NaN,NaN

In [23]:
# Clean up each dataframe
for key,value in prescription_dfs.items():
    # removing 95% LCL and 95% UCL columns
    prescription_dfs[key] = prescription_dfs[key][["County","Rates","Counts"]]

    #remove last 2 lines
    prescription_dfs[key].drop(prescription_dfs[key].index[-2:], inplace = True)

/opt/conda/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [55]:
# Check values in dfs
prescription_dfs["prescription_2020"]

             County  Rates  Counts  Year
0           Alameda   7.74   138.0  2020
1            Alpine   0.00     0.0  2020
2            Amador  13.07     4.0  2020
3             Butte   5.19    13.0  2020
4         Calaveras   7.00     2.0  2020
5        California  11.84  4792.0  2020
6            Colusa  14.72     3.0  2020
7      Contra Costa  11.45   130.0  2020
8         Del Norte   9.01     3.0  2020
9         El Dorado  11.72    22.0  2020
10           Fresno   6.14    62.0  2020
11            Glenn  10.47     2.0  2020
12         Humboldt  15.88    21.0  2020
13         Imperial  12.43    21.0  2020
14             Inyo  22.03     3.0  2020
15             Kern  21.00   193.0  2020
16            Kings   6.60     9.0  2020
17             Lake  16.18    11.0  2020
18           Lassen  13.49     5.0  2020
19      Los Angeles  10.56  1099.0  2020
20           Madera   4.31     6.0  2020
21            Marin  12.80    29.0  2020
22         Mariposa   3.87     1.0  2020
23        Mendocino  23.45    18.0  2020
24           Merced   9.34    27.0  2020
25            Modoc   0.00     0.0  2020
26             Mono   0.00     0.0  2020
27         Monterey   5.34    23.0  2020
28             Napa   3.96     6.0  2020
29           Nevada  28.21    26.0  2020
30           Orange  14.13   459.0  2020
31           Placer  10.59    38.0  2020
32           Plumas   6.28     1.0  2020
33        Riverside  12.89   323.0  2020
34       Sacramento   5.27    82.0  2020
35       San Benito   5.19     3.0  2020
36   San Bernardino  10.97   242.0  2020
37        San Diego  13.69   477.0  2020
38    San Francisco  41.94   419.0  2020
39      San Joaquin  10.36    79.0  2020
40  San Luis Obispo  16.30    45.0  2020
41        San Mateo   9.53    77.0  2020
42    Santa Barbara   3.00    14.0  2020
43      Santa Clara   6.07   121.0  2020
44       Santa Cruz   6.75    17.0  2020
45           Shasta  10.01    17.0  2020
46           Sierra   0.00     0.0  2020
47         Siskiyou  19.37     7.0  2020
48           Solano   8.06    35.0  2020
49           Sonoma  23.42   110.0  2020
50       Stanislaus  12.45    68.0  2020
51           Sutter   7.75     8.0  2020
52           Tehama   1.04     1.0  2020
53          Trinity   0.00     0.0  2020
54           Tulare   8.04    38.0  2020
55         Tuolumne   2.64     1.0  2020
56          Unknown    NaN    99.0  2020
57          Ventura  14.60   120.0  2020
58             Yolo   2.96     8.0  2020
59             Yuba   7.35     6.0  2020

In [25]:
# Add Year column into each dataframe
x = 2015
for key,value in prescription_dfs.items():
    prescription_dfs[key]["Year"] = x
    x += 1

<ipython-input-25-285043d085ed>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prescription_dfs[key]["Year"] = x

In [26]:
# Concatenate all year into one dataframe
all_prescription_df = pd.concat(prescription_dfs)
all_prescription_df

                         County  Rates  Counts  Year
prescription_2015 0     Alameda   2.73    50.0  2015
                  1      Alpine   0.00     0.0  2015
                  2      Amador   3.75     2.0  2015
                  3       Butte   6.51    16.0  2015
                  4   Calaveras  14.25     7.0  2015
...                         ...    ...     ...   ...
prescription_2020 55   Tuolumne   2.64     1.0  2020
                  56    Unknown    NaN    99.0  2020
                  57    Ventura  14.60   120.0  2020
                  58       Yolo   2.96     8.0  2020
                  59       Yuba   7.35     6.0  2020

[360 rows x 4 columns]

In [27]:
type(all_prescription_df)
all_prescription_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 360 entries, ('prescription_2015', 0) to ('prescription_2020', 59)
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  360 non-null    object
 1   Rates   354 non-null    float64
 2   Counts  360 non-null    float64
 3   Year    360 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 12.7+ KB

In [ ]:
# Save into a CSV file for next step (cleaning, visualization)
all_prescription_df.to_csv("Data/Presciption_Opioids_Deaths_by_County_2015-2020.csv", index=False)