In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats
from scipy.stats import pearsonr

# Linear Regression + Correlation Stuff

## PRE-COVID Unemployment Data

In [2]:
unemployment = pd.read_csv('../team_project/eda_data/Merged_complete_employment_death.csv', index_col=[0])

In [3]:
unemployment["County"].unique()

array(['Alameda', 'Alpine', 'Amador', 'Orange', 'Kern', 'Calaveras',
       'Butte', 'Colusa', 'Contra Costa', 'Del Norte', 'Imperial',
       'El Dorado', 'Fresno', 'Glenn', 'Kings', 'Humboldt', 'Inyo',
       'Lake', 'Lassen', 'Los Angeles', 'Madera', 'Mariposa', 'Mendocino',
       'Merced', 'Stanislaus', 'Modoc', 'Mono', 'Napa', 'Nevada',
       'Ventura', 'Placer', 'Plumas', 'Shasta', 'Riverside', 'Sacramento',
       'Monterey', 'San Benito', 'San Bernardino', 'San Diego',
       'San Francisco', 'San Luis Obispo', 'San Mateo', 'Marin',
       'Santa Clara', 'Santa Cruz', 'Santa Barbara', 'Sonoma', 'Sierra',
       'Siskiyou', 'San Joaquin', 'Sutter', 'Tehama', 'Trinity',
       'Tuolumne', 'Solano', 'Tulare', 'Yolo', 'Yuba'], dtype=object)

In [4]:
unemployment["County"] = unemployment["County"].str.strip()

In [5]:
rmv_2020 = unemployment[unemployment["Year"]!= 2020]
rmv_2020

,County,Year,Employment,Labor Force,Unemployment,Unemployment Rate,Opioid Death Rate,Opioid Death
0,Alameda,2015,779891.666667,819016.666667,39108.333333,4.775000,2.73,50.0
1,Alameda,2016,796025.000000,831816.666667,35791.666667,4.325000,2.18,39.0
2,Alameda,2017,807658.333333,838700.000000,31041.666667,3.700000,1.36,25.0
3,Alameda,2018,815691.666667,841483.333333,25783.333333,3.066667,2.28,42.0
4,Alameda,2019,815883.333333,841083.333333,25191.666667,3.000000,4.33,78.0
...,...,...,...,...,...,...,...,...
339,Yolo,2019,103383.333333,107925.000000,4525.000000,4.191667,2.49,6.0
341,Yuba,2016,25716.666667,28150.000000,2450.000000,8.641667,3.72,2.0
342,Yuba,2017,26583.333333,28733.333333,2150.000000,7.475000,7.63,5.0
343,Yuba,2018,27341.666667,29233.333333,1883.333333,6.466667,4.45,3.0
344,Yuba,2019,27900.000000,29725.000000,1841.666667,6.225000,7.95,6.0

In [6]:
rmv_2020["Year"].value_counts()

2016    58
2017    58
2018    58
2019    58
2015    56
Name: Year, dtype: int64

In [7]:
precovid_county = rmv_2020.groupby("County")[["Unemployment","Unemployment Rate"]].mean()
precovid_county

                  Unemployment  Unemployment Rate
County
Alameda           31383.333333           3.773333
Alpine               33.833333           6.070000
Amador              748.000000           5.130000
Butte              6048.333333           5.990000
Calaveras          1037.166667           4.966667
Colusa             1566.333333          14.385000
Contra Costa      21925.000000           3.955000
Del Norte           667.500000           6.853333
El Dorado          4043.333333           4.501667
Fresno            38571.666667           8.665000
Glenn               967.833333           7.498333
Humboldt           2756.666667           4.425000
Imperial          16003.333333          21.620000
Inyo                407.000000           4.608333
Kern              35623.333333           9.206667
Kings              5221.666667           9.090000
Lake               1785.333333           6.133333
Lassen              598.833333           5.870000
Los Angeles      263375.000000           5.210000
Madera             5143.333333           8.430000
Marin              4061.666667           2.913333
Mariposa            463.000000           6.055000
Mendocino          1874.833333           4.755000
Merced            11066.666667           9.635000
Modoc               254.500000           7.933333
Mono                400.666667           4.788333
Monterey          15770.000000           7.248333
Napa               2718.333333           3.700000
Nevada             2058.000000           4.261667
Orange            57320.000000           3.575000
Placer             7206.666667           3.971667
Plumas              697.666667           8.990000
Riverside         57275.000000           5.370000
Sacramento        33133.333333           4.758333
San Benito         1858.333333           6.058333
San Bernardino    47448.333333           5.051667
San Diego         64810.000000           4.133333
San Francisco     16291.666667           2.913333
San Joaquin       23271.666667           7.251667
San Luis Obispo    5210.000000           3.733333
San Mateo         12060.000000           2.723333
Santa Barbara      9810.000000           4.523333
Santa Clara       33821.666667           3.280000
Santa Cruz         8618.333333           6.055000
Shasta             4508.333333           6.108333
Sierra               91.666667           6.916667
Siskiyou           1364.666667           7.750000
Solano            10075.000000           4.858333
Sonoma             9033.333333           3.495000
Stanislaus        18598.333333           7.676667
Sutter             3993.333333           8.895000
Tehama             1669.500000           6.598333
Trinity             317.833333           6.528333
Tulare            21566.666667          10.618333
Tuolumne           1199.166667           5.606667
Ventura           19491.666667           4.590000
Yolo               5229.166667           4.889583
Yuba               2081.250000           7.202083

## During COVID-19 (2020)

In [8]:
only_2020 = unemployment[unemployment["Year"]== 2020]
only_2020

,County,Year,Employment,Labor Force,Unemployment,Unemployment Rate,Opioid Death Rate,Opioid Death
5,Alameda,2020,7.424167e+05,8.138000e+05,71383.333333,8.825000,7.74,138.0
11,Alpine,2020,4.600000e+02,5.183333e+02,59.166667,11.925000,0.00,0.0
17,Amador,2020,1.310583e+04,1.442500e+04,1317.500000,9.166667,13.07,4.0
23,Orange,2020,1.416742e+06,1.553308e+06,136575.000000,8.866667,14.13,459.0
29,Kern,2020,3.357083e+05,3.837750e+05,48066.666667,12.550000,21.00,193.0
35,Calaveras,2020,1.958833e+04,2.120833e+04,1620.000000,7.658333,7.00,2.0
41,Butte,2020,8.408333e+04,9.260833e+04,8508.333333,9.233333,5.19,13.0
47,Colusa,2020,8.825000e+03,1.050083e+04,1675.833333,15.866667,14.72,3.0
53,Contra Costa,2020,4.932417e+05,5.412417e+05,48033.333333,8.916667,11.45,130.0
59,Del Norte,2020,8.467500e+03,9.350000e+03,884.166667,9.500000,9.01,3.0
65,Imperial,2020,5.395000e+04,6.959167e+04,15658.333333,22.425000,12.43,21.0
71,El Dorado,2020,8.326667e+04,9.075000e+04,7483.333333,8.275000,11.72,22.0
77,Fresno,2020,3.952667e+05,4.455083e+05,50266.666667,11.291667,6.14,62.0
83,Glenn,2020,1.145583e+04,1.256917e+04,1113.333333,8.858333,10.47,2.0
89,Kings,2020,4.989167e+04,5.643333e+04,6550.000000,11.566667,6.60,9.0
95,Humboldt,2020,5.445000e+04,5.942500e+04,4958.333333,8.416667,15.88,21.0
101,Inyo,2020,7.658333e+03,8.305000e+03,648.333333,7.850000,22.03,3.0
107,Lake,2020,2.556667e+04,2.826583e+04,2699.166667,9.591667,16.18,11.0
113,Lassen,2020,8.785000e+03,9.461667e+03,678.333333,7.166667,13.49,5.0
119,Los Angeles,2020,4.291675e+06,4.921500e+06,629816.666667,12.933333,10.56,1099.0
125,Madera,2020,5.510000e+04,6.174167e+04,6650.000000,10.791667,4.31,6.0
131,Mariposa,2020,6.380833e+03,7.162500e+03,780.000000,10.925000,3.87,1.0
137,Mendocino,2020,3.372250e+04,3.701583e+04,3293.333333,8.933333,23.45,18.0
143,Merced,2020,1.007583e+05,1.147500e+05,13975.000000,12.191667,9.34,27.0
149,Stanislaus,2020,2.148833e+05,2.406417e+05,25750.000000,10.725000,12.45,68.0
155,Modoc,2020,2.899167e+03,3.170000e+03,271.666667,8.550000,0.00,0.0
161,Mono,2020,6.917500e+03,7.845833e+03,928.333333,12.458333,0.00,0.0
167,Napa,2020,6.285000e+04,6.885833e+04,6025.000000,8.800000,3.96,6.0
173,Nevada,2020,4.278750e+04,4.649000e+04,3701.666667,8.058333,28.21,26.0
179,Ventura,2020,3.739000e+05,4.088833e+05,34958.333333,8.591667,14.60,120.0
185,Placer,2020,1.713167e+05,1.848917e+05,13575.000000,7.375000,10.59,38.0
191,Plumas,2020,6.753333e+03,7.559167e+03,807.500000,10.683333,6.28,1.0
197,Shasta,2020,6.647500e+04,7.282500e+04,6333.333333,8.716667,10.01,17.0
203,Riverside,2020,9.977167e+05,1.107708e+06,109991.666667,9.958333,12.89,323.0
209,Sacramento,2020,6.416250e+05,7.071917e+05,65558.333333,9.291667,5.27,82.0
215,Monterey,2020,1.903750e+05,2.134667e+05,23083.333333,10.783333,5.34,23.0
221,San Benito,2020,2.839167e+04,3.151667e+04,3116.666667,9.883333,5.19,3.0
227,San Bernardino,2020,8.749167e+05,9.662083e+05,91300.000000,9.491667,10.97,242.0
233,San Diego,2020,1.396542e+06,1.538358e+06,141816.666667,9.275000,13.69,477.0
239,San Francisco,2020,5.125167e+05,5.560500e+05,43516.666667,7.900000,41.94,419.0
245,San Luis Obispo,2020,1.225000e+05,1.326833e+05,10200.000000,7.758333,16.30,45.0
251,San Mateo,2020,4.041167e+05,4.338750e+05,29741.666667,6.950000,9.53,77.0
257,Marin,2020,1.214750e+05,1.301333e+05,8658.333333,6.766667,12.80,29.0
263,Santa Clara,2020,9.493583e+05,1.020700e+06,71325.000000,7.025000,6.07,121.0
269,Santa Cruz,2020,1.209250e+05,1.336583e+05,12708.333333,9.533333,6.75,17.0
275,Santa Barbara,2020,2.001667e+05,2.175167e+05,17341.666667,8.000000,3.00,14.0
281,Sonoma,2020,2.257833e+05,2.450917e+05,19300.000000,7.916667,23.42,110.0
287,Sierra,2020,1.179167e+03,1.283333e+03,103.333333,8.066667,0.00,0.0
293,Siskiyou,2020,1.528833e+04,1.692250e+04,1638.333333,9.683333,19.37,7.0
299,San Joaquin,2020,2.944500e+05,3.318167e+05,37375.000000,11.266667,10.36,79.0
305,Sutter,2020,4.048333e+04,4.546667e+04,4983.333333,10.950000,7.75,8.0
311,Tehama,2020,2.331667e+04,2.557833e+04,2262.500000,8.866667,1.04,1.0
317,Trinity,2020,4.156667e+03,4.513333e+03,360.833333,7.991667,0.00,0.0
323,Tuolumne,2020,1.795417e+04,2.003917e+04,2085.000000,10.441667,2.64,1.0
329,Solano,2020,1.835917e+05,2.028000e+05,19208.333333,9.508333,8.06,35.0
335,Tulare,2020,1.728417e+05,1.991667e+05,26291.666667,13.183333,8.04,38.0
340,Yolo,2020,9.710833e+04,1.050250e+05,7908.333333,7.566667,2.96,8.0
345,Yuba,2020,2.688333e+04,3.004167e+04,3150.000000,10.533333,7.35,6.0

In [9]:
county_df = precovid_county.join(only_2020.set_index("County"),lsuffix="_precovid", rsuffix="_covid")

In [10]:
county_df = county_df.drop(columns="Year")
county_df.head()

,Unemployment_precovid,Unemployment Rate_precovid,Employment,Labor Force,Unemployment_covid,Unemployment Rate_covid,Opioid Death Rate,Opioid Death
County,,,,,,,,
Alameda,31383.333333,3.773333,742416.666667,813800.000000,71383.333333,8.825000,7.74,138.0
Alpine,33.833333,6.070000,460.000000,518.333333,59.166667,11.925000,0.00,0.0
Amador,748.000000,5.130000,13105.833333,14425.000000,1317.500000,9.166667,13.07,4.0
Butte,6048.333333,5.990000,84083.333333,92608.333333,8508.333333,9.233333,5.19,13.0
Calaveras,1037.166667,4.966667,19588.333333,21208.333333,1620.000000,7.658333,7.00,2.0

In [11]:
county_df = county_df.rename(columns=
{"Unemployment_precovid":"PRECOVID_UNEMPLOYMENT_COUNTS",
"Unemployment Rate_precovid":"PRECOVID_UNEMPLOYMENT_RATES",
"Unemployment_covid":"COVID_UNEMPLOYMENT_COUNTS",
"Unemployment Rate_covid":"COVID_UNEMPLOYMENT_RATES"})
county_df.head()

,PRECOVID_UNEMPLOYMENT_COUNTS,PRECOVID_UNEMPLOYMENT_RATES,Employment,Labor Force,COVID_UNEMPLOYMENT_COUNTS,COVID_UNEMPLOYMENT_RATES,Opioid Death Rate,Opioid Death
County,,,,,,,,
Alameda,31383.333333,3.773333,742416.666667,813800.000000,71383.333333,8.825000,7.74,138.0
Alpine,33.833333,6.070000,460.000000,518.333333,59.166667,11.925000,0.00,0.0
Amador,748.000000,5.130000,13105.833333,14425.000000,1317.500000,9.166667,13.07,4.0
Butte,6048.333333,5.990000,84083.333333,92608.333333,8508.333333,9.233333,5.19,13.0
Calaveras,1037.166667,4.966667,19588.333333,21208.333333,1620.000000,7.658333,7.00,2.0

In [12]:
# load hospital density-related metrics
facility_df = pd.read_csv("../team_project/eda_data/Merged_precovid_covid_deaths_and_hospital_metrics.csv")
facility_df.head()

,COUNTY,PRECOVID_RATES,PRECOVID_COUNTS,COVID_RATES,COVID_COUNTS,TOTAL_FAC,TOTAL_NUMBER_BEDS,COUNT_NOER_FAC,COUNT_ER_FAC,ER_BEDS,TOTALFAC_PER_POP,TOTALBEDS_PER_POP,ERFAC_PER_POP,ERBEDS_PER_POP,ERFAC_PER_AREA
0,Alameda,3.502,63.0,8.09,144.0,340.0,9074.0,327.0,13.0,2894.0,20.232315,539.964772,0.773588,172.212701,0.017589
1,Alpine,0.000,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,Amador,6.556,3.0,13.07,4.0,5.0,251.0,4.0,1.0,52.0,12.362162,620.580527,2.472432,128.566484,0.001682
3,Butte,6.900,16.2,11.54,26.0,44.0,1387.0,41.0,3.0,467.0,22.348639,704.490045,1.523771,237.200325,0.001833
4,Calaveras,10.566,4.6,7.00,2.0,5.0,124.0,4.0,1.0,25.0,10.794706,267.708716,2.158941,53.973531,0.000980

In [13]:
# join with pre and during covid data
county_merged = county_df.join(facility_df.set_index("COUNTY"))

In [14]:
county_merged.head()

,PRECOVID_UNEMPLOYMENT_COUNTS,PRECOVID_UNEMPLOYMENT_RATES,Employment,Labor Force,COVID_UNEMPLOYMENT_COUNTS,COVID_UNEMPLOYMENT_RATES,Opioid Death Rate,Opioid Death,PRECOVID_RATES,PRECOVID_COUNTS,...,TOTAL_FAC,TOTAL_NUMBER_BEDS,COUNT_NOER_FAC,COUNT_ER_FAC,ER_BEDS,TOTALFAC_PER_POP,TOTALBEDS_PER_POP,ERFAC_PER_POP,ERBEDS_PER_POP,ERFAC_PER_AREA
County,,,,,,,,,,,,,,,,,,,,,
Alameda,31383.333333,3.773333,742416.666667,813800.000000,71383.333333,8.825000,7.74,138.0,3.502,63.0,...,340.0,9074.0,327.0,13.0,2894.0,20.232315,539.964772,0.773588,172.212701,0.017589
Alpine,33.833333,6.070000,460.000000,518.333333,59.166667,11.925000,0.00,0.0,0.000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
Amador,748.000000,5.130000,13105.833333,14425.000000,1317.500000,9.166667,13.07,4.0,6.556,3.0,...,5.0,251.0,4.0,1.0,52.0,12.362162,620.580527,2.472432,128.566484,0.001682
Butte,6048.333333,5.990000,84083.333333,92608.333333,8508.333333,9.233333,5.19,13.0,6.900,16.2,...,44.0,1387.0,41.0,3.0,467.0,22.348639,704.490045,1.523771,237.200325,0.001833
Calaveras,1037.166667,4.966667,19588.333333,21208.333333,1620.000000,7.658333,7.00,2.0,10.566,4.6,...,5.0,124.0,4.0,1.0,25.0,10.794706,267.708716,2.158941,53.973531,0.000980

In [15]:
# remove unnecessary columns
county_merged = county_merged.drop(columns=["Labor Force", "Opioid Death Rate", "Opioid Death"])
county_merged.head()

,PRECOVID_UNEMPLOYMENT_COUNTS,PRECOVID_UNEMPLOYMENT_RATES,Employment,COVID_UNEMPLOYMENT_COUNTS,COVID_UNEMPLOYMENT_RATES,PRECOVID_RATES,PRECOVID_COUNTS,COVID_RATES,COVID_COUNTS,TOTAL_FAC,TOTAL_NUMBER_BEDS,COUNT_NOER_FAC,COUNT_ER_FAC,ER_BEDS,TOTALFAC_PER_POP,TOTALBEDS_PER_POP,ERFAC_PER_POP,ERBEDS_PER_POP,ERFAC_PER_AREA
County,,,,,,,,,,,,,,,,,,,
Alameda,31383.333333,3.773333,742416.666667,71383.333333,8.825000,3.502,63.0,8.09,144.0,340.0,9074.0,327.0,13.0,2894.0,20.232315,539.964772,0.773588,172.212701,0.017589
Alpine,33.833333,6.070000,460.000000,59.166667,11.925000,0.000,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
Amador,748.000000,5.130000,13105.833333,1317.500000,9.166667,6.556,3.0,13.07,4.0,5.0,251.0,4.0,1.0,52.0,12.362162,620.580527,2.472432,128.566484,0.001682
Butte,6048.333333,5.990000,84083.333333,8508.333333,9.233333,6.900,16.2,11.54,26.0,44.0,1387.0,41.0,3.0,467.0,22.348639,704.490045,1.523771,237.200325,0.001833
Calaveras,1037.166667,4.966667,19588.333333,1620.000000,7.658333,10.566,4.6,7.00,2.0,5.0,124.0,4.0,1.0,25.0,10.794706,267.708716,2.158941,53.973531,0.000980

In [16]:
county_merged = county_merged.reset_index().rename(columns={"County":"COUNTY"})

In [17]:
# save to csv
county_merged.set_index("COUNTY").to_csv("../team_project/eda_data/Unemployment_Hospital_Density_Merge.csv")